.selection-panel {
	padding: 6px;
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 0 5px #ccc;
	border-radius: 5px;
	display: none;
}

.bookmark-record {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 400px;
	user-select: none;
}



.__bookmark-tip {
	font-size: 14px;
	margin: 0 0 5px 0;
	white-space: normal;
}
#__bookmark-textarea {
	width: 100%;
}
.__bookmark-tip-button {
	border-bottom: 0px solid #ccc;
	cursor: pointer;
	transition: border-bottom 0.3s ease-in-out;
	line-height: 1.5;
}
.__bookmark-tip-button:hover {
	border-bottom: 1px solid #ccc;
} 
.__bookmark-buttons {
	margin-top: 5px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
#__cancel-button {
	margin-left: auto;
}

.__note-title {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border-bottom: 1px solid #ccc;
}
#__close-note-button {
	margin-left: auto;
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: black;
	padding: 10px;
	font-size: 16px;
}
#__close-note-button:hover {
	color: #fff;
	background-color: red;
}
.__note-title-text {
	padding: 0 10px;
	margin: 0;
	font-size: 16px;
}
.__note-panel {
	height: 100%;
	display: flex;
	flex-direction: column; 
	user-select: none;
}

.__note-content {
	height: 0;
	flex: 1;
	overflow: auto;
	margin: 0 0 10px 0;
    padding: 10px 10px 0 10px;
}
.__note-content::-webkit-scrollbar {
	width: 4px;
}

.__note-item {
    padding: 5px;
	border-radius: 5px;
}
.__note-item:hover {
	box-shadow: 1px 1px 2px 2px #ccc;
}
.__note-item:hover .__note-item-buttons {
    opacity: 1;
}

.__note-item-title {
	font-size: 16px;
    margin-bottom: 5px;
	margin-top: 0px;
    color: dimgray;
}
.__note-item-content-text {
	font-size: 14px;
	line-height: 1.5;
	white-space: break-spaces;
}
.__note-item-buttons {
    opacity: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    transition: opacity 0.3s ease-in-out;
    height: 18px;
}
.edit-buttons {
    opacity: 1;
}

.text-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgb(35, 163, 248);
    padding: 0;
    margin: 0;
    font-size: 14px;
    opacity: 1;
}
.text-button:hover {
    opacity: 0.8;
    background: none;
    color: rgb(35, 163, 248);
}